.vscode/**
.vscode-test/**
src/**
webview/src/**
webview/node_modules/**
webview/public/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.js
